/* Styles for webpack tester */
body {
    margin: 0;
    overflow: hidden;
}
#WebGL-output {
    position: relative;
}
.title {
    position: absolute;
    width: 100%;
    top: 1%;
    left: 0%;
}
.info {
    position: absolute;
    width: 5%;
    bottom: 2%;
    left: 2.5%;
}
.info img {
    width: 100%;
}
